body {
  font-family: "roboto mono";
  font-weight: 300;
}
h1 {
  color: #f95959;
  background: #aad9d8;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  height: 40px;
}
li {
  list-style: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  line-height: 25px;
  margin: 0;
  padding: 0;
}
li:first-letter {
  text-transform: capitalize;
}
ul {
  margin: 0;
  padding: 0;
}
small {
  font-family: "Courier New", Courier, monospace;
  color: lightslategray;
}
small a {
  color: #f95959;
  text-decoration: none;
}
small a:hover {
  color: lightslategray;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  padding: 30px;
  border: 5px solid #f95959;
  border-radius: 2px;
  background: #aad9d8;
}
.search-button {
  background: #f95959;
  color: #ffffff;
  border: 1px solid #f95959;
  border-radius: 2px;
  padding: 6px 12px;
}
.search-button:hover {
  opacity: 60%;
  transition: all 200ms ease-in-out;
}

.weather-temperature {
  text-align: right;
}
.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}
.weather-temperature strong {
  font-size: 50px;
  font-weight: 500;
  color: #f95959;
  position: relative;
  top: 13px;
}
.weather-temperature .units {
  color: #ffffff;
  position: relative;
  font-size: 16px;
  top: -11px;
}
.weather-temperature a {
  text-decoration: none;
  font-weight: 500;
  color: #ffffff;
}
.weather-temperature a:hover {
  text-decoration: underline;
}
.weather-temperature .active {
  color: #f95959;
}

.weather-forecast {
  margin-top: 30px;
  text-align: center;
  color: #48484a;
}
.weather-forecast-date {
  font-size: 14px;
}
.weather-forecast-temp {
  font-size: 10px;
}
.weather-forecast-temp-max {
  font-weight: 500;
}
